<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Bundle Name="Invinsense Tools" Version="1.0.0.0" Manufacturer="Infopercept" UpgradeCode="a5444a01-86b2-4773-8c82-edd204655ce8">
		<BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense" />

		<Chain>
			<ExePackage SourceFile="..\\artifacts\Sysmon\Sysmon64.exe" InstallCommand="/i" UninstallCommand="/u" DetectCondition="SYSMON64EXISTS" />
			<MsiPackage SourceFile="..\\artifacts\osquery-5.5.1.msi"/>
		</Chain>
	</Bundle>
</Wix>
