<?xml version="1.0" encoding="UTF-8"?>

<?include Variables.wxi ?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">

  <!--Variable for Agent Service Directory-->
  <?define Agent_Service_TargetDir=..\IvsAgent\bin\Debug\out?>

  <!--Variable for Sample Application Directory-->
  <?define Tray_Application_TargetDir=..\IvsTray\bin\Debug\out?>

  <Package Name="$(var.Name)" Manufacturer="$(var.Manufacturer)" UpgradeCode="$(var.UpgradeCode)" Version="$(var.Version)" Language="1033" InstallerVersion="200">

    <!--Setup or Installer with properties-->
    <SummaryInformation Manufacturer="$(var.Manufacturer)" />

    <!-- Allow upgrades and prevent downgrades -->
    <MajorUpgrade Schedule="afterInstallInitialize" DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <!--Embed Cabinet into single msi file-->
    <MediaTemplate EmbedCab="yes" />

    <!--User provided Property values in registry keys and use a RegistrySearch to read them back out for repair, upgrade and uninstall-->

    <!--Fetch property of API-->
    <Property Id="APIURL">
      <RegistrySearch Id="ApiBaseUrl" Root="HKLM" Key="SOFTWARE\Infopercxept" Name="ApiUrl" Type="raw" />
    </Property>

    <!--Fetch property of AGENT_GROUP-->
    <Property Id="GROUPS">
      <RegistrySearch Id="AgentGroups" Root="HKLM" Key="SOFTWARE\Infopercxept" Name="Groups" Type="raw" />
    </Property>
    
    <!--Adding the icon for msi -->
    <Icon Id="green_logo_22_22.ico" SourceFile="Assets\green_logo_22_22.ico" />
    <Property Id="ARPPRODUCTICON" Value="green_logo_22_22.ico" />

    <!--Main Feature for this Setup which can be found in Fragment Tag with ComponentGroupRef Id-->
    <Feature Id="ProductFeature" Title="$(var.Name)" Level="1">
      <ComponentRef Id="ConfigurationValues" />
      <ComponentGroupRef Id="AgentComponents" />
      <ComponentGroupRef Id="TrayComponents" />
      <ComponentGroupRef Id="ToolComponents" />
      <ComponentGroupRef Id="PostInstallation" />
    </Feature>

    <!--Tell MSI that restart should not be required-->
    <Property Id="MSIRESTARTMANAGERCONTROL" Value="Disable" />

    <!--Wix Extension to close IvsTray.exe file from System Tray-->
    <util:CloseApplication Id="CloseTray" Target="IvsTray.exe" CloseMessage="yes" RebootPrompt="no"></util:CloseApplication>

    <Binary Id="CustomActionBinary" SourceFile="$(var.CustomActions.TargetDir)$(var.CustomActions.TargetName).CA.dll" />
    <CustomAction Id="CheckSessionVariables" DllEntry="CheckSessionParameters" Execute="immediate" Return="check" BinaryRef="CustomActionBinary" />
    <CustomAction Id="StopAgentService" DllEntry="StopAgentService" Execute="immediate" Return="check" BinaryRef="CustomActionBinary" />
    <CustomAction Id="VerifyRemoveKey" DllEntry="VerifyRemoveKey" Execute="immediate" Return="check" BinaryRef="CustomActionBinary" />

    <InstallExecuteSequence>
      <Custom Action="CheckSessionVariables" Before="LaunchConditions" Condition="NOT Installed" />
      <Custom Action="StopAgentService" Before="LaunchConditions" Condition="Installed" />
      <Custom Action="VerifyRemoveKey" Before="LaunchConditions" Condition="Installed AND ( REMOVE = &quot;ALL&quot; OR AI_INSTALL_MODE = &quot;Remove&quot; ) AND NOT UPGRADINGPRODUCTCODE" />
    </InstallExecuteSequence>

  </Package>

  <!--Fragment to save properties-->
  <Fragment>
    <Component Id="ConfigurationValues" Directory="ManufacturerFolder" Bitness="always64">
      
      <RegistryKey Root="HKLM" Key="SOFTWARE\Infopercept">
        <RegistryValue Name="ApiUrl" Value="[APIURL]" Type="string" />
        <RegistryValue Name="Groups" Value="[GROUPS]" Type="string" />
      </RegistryKey>
      
      <!--Removing old registry key before fresh installation-->
      <RemoveRegistryKey Action="removeOnInstall" Key="SOFTWARE\Infopercept" Root="HKLM" />
      <RemoveFile Id="RemoveOldLogId" Name="*.*" On="install" Directory="ManufacturerFolder" />
    </Component>
  </Fragment>

  <!--Fragment with details of installation directory-->
  <Fragment>
    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="ManufacturerFolder" Name="$(var.Manufacturer)">
        <Directory Id="AGENTFOLDER" Name="$(var.AgentName)" />
        <Directory Id="TRAYFOLDER" Name="$(var.TrayName)" />
      </Directory>
    </StandardDirectory>

    <!-- %AllUsersProfile%, C:\ProgramData -->
    <StandardDirectory Id="CommonAppDataFolder">
      <Directory Id="ProgramDataFolder" Name="$(var.Manufacturer)">
        <Directory Id="ARTIFACTSFOLDER" Name="$(var.ArtifactsName)" />
        <Directory Id="LOGFOLDER" Name="$(var.LogsFolder)" />
        <Directory Id="CONFIGFOLDER" Name="$(var.ConfigFolder)" />
      </Directory>
    </StandardDirectory>

  </Fragment>

  <!--Fragment with Agent Service installation-->
  <Fragment>
    <ComponentGroup Id="AgentComponents" Directory="AGENTFOLDER">
      <Component Id="a00" Guid="380bbddd-daa7-0744-517b-37da768f5570" Bitness="always64">
        <File Id="a01" Source="$(var.Agent_Service_TargetDir)\IvsAgent.exe" />
        <File Id="a02" Source="$(var.Agent_Service_TargetDir)\IvsAgent.exe.config" />
        <!--Removing all the old files on building new msi file-->
        <RemoveFile Id="AgentComponentsCopiedFiles" Name="*.*" On="install" />
        <!--Removing the agentcomponent folder-->
        <RemoveFolder Id="AgentCompanentsFolder" Directory="AGENTFOLDER" On="install" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <!--Fragment with Agent Tray installation-->
  <Fragment>
    <ComponentGroup Id="TrayComponents" Directory="TRAYFOLDER">
      <Component Id="b00" Guid="7E588662-AE80-401C-B2DE-29BB4CF1ECF3" Bitness="always64">
        <File Id="b01" Source="$(var.Tray_Application_TargetDir)\IvsTray.exe" />
        <File Id="b02" Source="$(var.Tray_Application_TargetDir)\IvsTray.exe.config" />
        <!--Removing all the old files on building new msi file-->
        <RemoveFile Id="TrayComponentsCopiedFiles" Name="*.*" On="install" />
        <!--Removing the traycomponent folder-->
        <RemoveFolder Id="TrayCompanentsFolder" Directory="TRAYFOLDER" On="install" />
      </Component>
    </ComponentGroup>

  </Fragment>

  <!--Fragment with Artifacts installation-->
  <Fragment>
    <ComponentGroup Id="ToolComponents" Directory="ARTIFACTSFOLDER">
      <Component Id="c00" Guid="DEF1F99A-A721-4F70-87BC-92E13E47B0B1" Bitness="always64">
        <!--Removing all the old files on building new msi file-->
        <RemoveFile Id="ToolComponentsCopiedFiles" Name="*.*" On="install" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <!--Fragment with post installation steps-->
  <Fragment>
    <ComponentGroup Id="PostInstallation" Directory="AGENTFOLDER">
      <Component Id="s0" Guid="868F4F33-6851-4169-B814-F25842A2D414" Bitness="always64">
        <File Id="AgentEXE" Name="IvsAgent" DiskId="1" Source="$(var.Agent_Service_TargetDir)\IvsAgent.exe" KeyPath="yes" />
        <ServiceInstall Id="s1" Name="IvsAgent" DisplayName="Invinsense 4.7.1" Description="Invinsense Service" ErrorControl="normal" Start="auto" Type="ownProcess" />
        <ServiceControl Id="s2" Name="IvsAgent" Start="install" Stop="both" Remove="both" Wait="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
